extends layout
block content
    br
    .container
        .row
            .col.m7.s12
                form(method='POST')
                    #form-group.container
                        label.white-text.test2 New Member's Email:
                        input.form-control(name='email', type='email').white
                        input.left.btn.btn-primary(type='submit', value='Submit').white-text.green