doctype html
html
    head
        title Hackgile
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet' href='/materialize-css/dist/css/materialize.min.css')
        link(rel='stylesheet' href='/css/style.css')
        
    block content   
    body
        header#top
            div.navbar-fixed
                nav.nav-extended

                    div.nav-wrapper.white
                        a(href="/")
                            img(src="/images/logo.jpg" width="9%" height="9%")
       
                        a.right.sidenav-trigger.button-collapse.hide-on-large-only(href='#', data-target='slide-out')
                            i.material-icons menu
                        ul.right.hide-on-med-and-down
                            li

                                a.black-text(href='/login') Login
                            li
                                a.black-text(href='/signup') Sign Up
            ul#slide-out.sidenav.white
                li
                    a.black-text(href='/login') Login
                li
                    a.black-text(href='#') Sign Up
    

        .row
          
            .col.s5
                br
                br
                br
                br
                br
                br
                span.flow-text.white-text#test HackGile brings Agile/Scrum methodology to hackathons.
            .col.s6
                img(src="images/meeting.jpg" width="120%" height="120%")
        br
        br
        br
        br
        br
        br
        br

        br

        .row
            .col.s7
                img(src="images/deskOrganizer2.jpg" width="80%" height="80%")
            .col.s4
                span.flow-text.white-text#test Here we will list what one can do with Hackgile, also this needs to be properly alligned.
    
        .footer.page-footer.teal.accent-4
            p.white-text FIX ME! NICK CAN'T SEE COLORS!
                


           
  
        
        script(src='/materialize-css/dist/js/materialize.min.js')
        script(src='/js/main.js')
        script(type='text/javascript').
            M.AutoInit();
        