extends layout
block content
    .row
        .col.l5.m12
            br
            br
            br
            br
            br
            br
            span.flow-text.white-text#test HackGile brings Agile/Scrum methodology to hackathons.
        .col.l7.m12
            img.responsive-img(src="images/meeting.jpg")
    br
    br
    br
    br
    br
    br
    br
    br

    .row
        .col.l6.m12.right
            span.flow-text.white-text#test Here we will list what one can do TEST with Hackgile, also this needs to be properly alligned.
        .col.l6.m12.left
            img.responsive-img(src="images/deskOrganizer2.jpg")