doctype html
html
    head
        title Knowledge Base
        link(rel='stylesheet' href='/materialize-css/dist/css/materialize.min.css')
        link(rel='stylesheet' href='/css/style.css')
        
        
    body
       nav
        .nav-wrapper.white
            a.brand-logo(img="images/logo.png" href='#').black-text Logo
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href='#').black-text Login
                li
                    a(href='#').black-text Signup
            
        .container
           
    
        footer
        p Copyright &copy; 2019 
        
        script(src='/materialize-css/dist/js/materialize.min.js')
        script(src='/js/main.js')
        