doctype html
html
    head
        title Hackgile
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet' href='/materialize-css/dist/css/materialize.min.css')
        link(rel='stylesheet' href='/css/style.css')
        
        
    body
        header#top
            div.navbar-fixed
                nav.nav-extended.green
                    div.nav-wrapper.container.green
                        h3.left.white-text(style='margin-top:.2em; margin-bottom:0em;') HackGile
                        a.right.sidenav-trigger.button-collapse.hide-on-large-only(href='#', data-target='slide-out')
                            i.material-icons menu
                        ul.right.hide-on-med-and-down
                            li
                                a.white-text(href='#') Login
                            li
                                a.white-text(href='#') Sign Up
                    ul#slide-out.sidenav.green
                        li
                            a.white-text(href='#') Login
                        li
                            a.white-text(href='#') Sign Up

           
    
        footer
        p Copyright &copy; 2019 
        
        script(src='/materialize-css/dist/js/materialize.min.js')
        script(src='/js/main.js')
        script(type='text/javascript').
            M.AutoInit();
        