doctype html
html
    head
        title Hackgile
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
        link(rel='stylesheet' href='/materialize-css/dist/css/materialize.min.css')
        link(rel='stylesheet' href='/css/style.css')
         
    body
        header#top
            div.navbar-fixed
                nav.nav-extended

                    div.nav-wrapper.white
                        a(href="/")
                            img(src="/images/logo.jpg" width="9%" height="9%")
       
                        a.right.sidenav-trigger.button-collapse.hide-on-large-only(href='#', data-target='slide-out')
                            i.material-icons.black-text menu
                        ul.right.hide-on-med-and-down
                            if user
                                li
                                     a.black-text(href='/members/logout') Logout
                            else
                                li

                                    a.black-text(href='/members/login') Login
                                li
                                    a.black-text(href='/members/signup') Sign Up
            ul#slide-out.sidenav.white
                if user
                    a.black-text(href='/members/logout') Logout
                else
                    li
                        a.black-text(href='/members/login') Login
                    li
                        a.black-text(href='/members/signup') Sign Up
        .container
            br
            != messages('message', locals)
            if errors
                each error, i in errors
                    .card.cardError.red-text #{error.msg}
        
        main
           
            block content
            

        
        footer.page-footer.teal.accent-4
            .footer-copyright
                .container Test
            script(src='/materialize-css/dist/js/materialize.min.js')
            script(src='/js/main.js')
            script(type='text/javascript').
                M.AutoInit();
        
