extends layout
block content
    form(method='POST', action='/members/login')
        .row
        .row
        #form-group.container

            label.white-text Username:
            input.form-control(name='username', type='text')

            label.white-text Password:
            input.form-control(name='password', type='password')


            input.btn.btn-primary(type='submit', value='Submit').white-text.green

    br
    .container
        a.google-btn(href="/members/google") Google+
        a(href="/members/github") Login with GitHub        
        a(href="/members/facebook") Login with Facebook

        