extends layout
block content
    br
    .container
        .row
            .col.l3.m12.left
                .container.label.largelabel Log In
        .row
            .col.m7.s12
                form(method='POST')
                    #form-group.container
                       
                        label.white-text Username or Email:
                        input.form-control(name='username', type='text').white

                        label.white-text Password:
                        input.form-control(name='password', type='password').white
                        .row
                            .col
                                input.left.btn.btn-primary(type='submit', value='Submit').white-text.green
                            .col.right
                                .row(style="margin-bottom:0px;")              
                                    a.left(style="color:white;" href="/members/forgot") Forgot Password?
            .col.m1.s12
                .hide-on-med-and-up
                    br
                    hr
                    br
            .col.m4.s12
                br
                .hide-on-med-and-down
                    .row
                        a.waves-effect.waves-light.social.col.s12.btn.google(href="/members/google")
                            i.fa.fa-google
                            | Sign in with Google
                    .row
                        a.waves-effect.waves-light.social.col.s12.btn.github(href="/members/github")
                            i.fa.fa-github
                            | Sign in with GitHub
                    .row
                        a.waves-effect.waves-light.social.col.s12.btn.linkedin(href="/members/linkedin")
                            i.fa.fa-linkedin
                            | Sign in with LinkedIn
                .hide-on-large-only.hide-on-small-only
                    .row
                        a.waves-effect.waves-light.social-icon.col.s12.btn.google(href="/members/google")
                            i.fa.fa-google
                    .row
                        a.waves-effect.waves-light.social-icon.col.s12.btn.github(href="/members/github")
                            i.fa.fa-github
                    .row
                        a.waves-effect.waves-light.social-icon.col.s12.btn.linkedin(href="/members/linkedin")
                            i.fa.fa-linkedin
                .hide-on-med-and-up
                    .container
                        .row
                            a.waves-effect.waves-light.social-icon.col.s12.btn.google(href="/members/google")
                                i.fa.fa-google
                        .row
                            a.waves-effect.waves-light.social-icon.col.s12.btn.github(href="/members/github")
                                i.fa.fa-github
                        .row
                            a.waves-effect.waves-light.social-icon.col.s12.btn.linkedin(href="/members/linkedin")
                                i.fa.fa-linkedin
                                