extends layout
block content
    br
    .container
        .row
            .col.m8.s12
                form(method='POST', action='/members/login')
                    #form-group
                        label.white-text.test2 Username:
                        input.form-control(name='username', type='text').white

                        label.white-text Password:
                        input.form-control(name='password', type='password').white


                        input.btn.btn-primary(type='submit', value='Submit').white-text.green
            .col.m1.s12
                .hide-on-med-and-up
                    br
                    hr
                    br
            .col.m3.s12.valign-wrapper
                    a.google-btn(href="/members/google") Google+
                    a.waves-effect.waves-light.btn-large.social.google
                        i.fa.fa-google Sign in with google
                    a(href="/members/github") Login with GitHub     
                    a(href="/members/linkedin") Login with LinkedIn