extends layout
block content
    br
    .container
        .row
            .col.s12.right
                .container.label.mediumlabel Sorry! HackGile does not support mobile access at this moment.
        .row
            .col.s12.left
                img.responsive-img(src="../images/mobile.png")
        
