extend layout

block content
    h1= project.name
    p= project.description
    hr
    a(href="/projects/add_member/"+project.id) Add Member
    hr
    a(href="/sprints/new_sprint/"+project.id) New Sprint