extend layout
block content

    form(method='POST', action='/members/signup')
        .row
        .row
        #form-group.container
        
            label.white-text First Name:
            input.form-control(name='firstname', type='text', ).white

            label.white-text Last Name:
            input.form-control(name='lastname', type='text').white

            label.white-text.test2 Email:
            input.form-control(name='email', type='text').white

            label.white-text Username:
            input.form-control(name='username', type='text').white

            label.white-text Password:
            input.form-control(name='password', type='password').white

            label.white-text Confirm Password:
            input.form-control(name='password2', type='password').white

            input.btn.btn-primary(type='submit', value='Submit').white-text.green
            .container
                a.google-btn(href="/members/google") Google+
                a.google-btn(href="/members/linkedin") LinkedIn
                a.google-btn(href="/members/github") Github
