extend layout
block content

    form(method='POST', action='/members/signup')
        .row
        .row
        #form-group.container

            label.white-text First Name:
            input.form-control(name='firstname', type='text')

            label.white-text Last Name:
            input.form-control(name='lastname', type='text')

            label.white-text Email:
            input.form-control(name='email', type='text')

            label.white-text Username:
            input.form-control(name='username', type='text')

            label.white-text Password:
            input.form-control(name='password', type='password')

            label.white-text Confirm Password:
            input.form-control(name='password2', type='password')

            input.btn.btn-primary(type='submit', value='Submit').white-text.green
            .container
                a.google-btn(href="/members/google") Google+
                a.google-btn(href="/members/facebook") Google+