extend layout
block content
    br
    .container
        .row
            .col.m7.s12
                form(method='POST', action='/members/signup')
                    #form-group.container
                    
                        label.white-text First Name:
                        input.form-control(name='firstname', type='text', ).white

                        label.white-text Last Name:
                        input.form-control(name='lastname', type='text').white

                        label.white-text.test2 Email:
                        input.form-control(name='email', type='text').white

                        label.white-text Username:
                        input.form-control(name='username', type='text').white

                        label.white-text Password:
                        input.form-control(name='password', type='password').white

                        label.white-text Confirm Password:
                        input.form-control(name='password2', type='password').white

                        input.btn.btn-primary(type='submit', value='Submit').white-text.green
            .col.m1.s12
                .hide-on-med-and-up
                    br
                    hr
                    br
            .col.m4.s12
                br
                .hide-on-med-and-down
                    .row
                        a.waves-effect.waves-light.social.col.s12.btn.google(href="/members/google")
                            i.fa.fa-google
                            | Sign in with Google
                    .row
                        a.waves-effect.waves-light.social.col.s12.btn.github(href="/members/github")
                            i.fa.fa-github
                            | Sign in with GitHub
                    .row
                        a.waves-effect.waves-light.social.col.s12.btn.linkedin(href="/members/linkedin")
                            i.fa.fa-linkedin
                            | Sign in with LinkedIn
                .hide-on-large-only.hide-on-small-only
                    .row
                        a.waves-effect.waves-light.social-icon.col.s12.btn.google(href="/members/google")
                            i.fa.fa-google
                    .row
                        a.waves-effect.waves-light.social-icon.col.s12.btn.github(href="/members/github")
                            i.fa.fa-github
                    .row
                        a.waves-effect.waves-light.social-icon.col.s12.btn.linkedin(href="/members/linkedin")
                            i.fa.fa-linkedin
                .hide-on-med-and-up
                    .container
                        .row
                            a.waves-effect.waves-light.social-icon.col.s12.btn.google(href="/members/google")
                                i.fa.fa-google
                        .row
                            a.waves-effect.waves-light.social-icon.col.s12.btn.github(href="/members/github")
                                i.fa.fa-github
                        .row
                            a.waves-effect.waves-light.social-icon.col.s12.btn.linkedin(href="/members/linkedin")
                                i.fa.fa-linkedin