include story_card.pug
mixin sprintCard(name, time, stories)
    .row
        .col.s12
            .card
                .card-content
                    span.card-title= name
                        .row
                            .col.s12.m4.l2
                                .card
                                    .card-content
                                        span.card-title Backlog
                                            each val in stories
                                                if val.status == 'Backlog'
                                                    +storyCard(val.title, val.description)
                            .col.s12.m4.l2
                                .card
                                    .card-content
                                        span.card-title Assigned
                                            each val in stories
                                                if val.status == 'Assigned'
                                                    +storyCard(val.title, val.description)
                            .col.s12.m4.l2
                                .card
                                    .card-content
                                        span.card-title In Progress
                                              each val in stories
                                                if val.status == 'In Progress'
                                                    +storyCard(val.title, val.description)
                            .col.s12.m4.l2
                                .card
                                    .card-content
                                        span.card-title Stuck
                                            each val in stories
                                                if val.status == 'Stuck'
                                                    +storyCard(val.title, val.description)
                            .col.s12.m4.l2
                                .card
                                    .card-content
                                        span.card-title Testing
                                            each val in stories
                                                if val.status == 'Testing'
                                                    +storyCard(val.title, val.description)
                            .col.s12.m4.l2
                                .card
                                    .card-content
                                        span.card-title Done
                                            each val in stories
                                                if val.status == 'Done'
                                                    +storyCard(val.title, val.description)