mixin storyCard(title, description)
    .row
        .col.s12
            .card
                .card-content
                    span.card-title= title
                        p.flow-text=description
                .card-action.valign-wrapper
                    a.left.dropdown-trigger.btn(data-target="move" href="#") Move To
                    a.right(href="#")
                        i.material-icons.black-text settings
    ul#move.dropdown-content
        li
            a(href="#") Backlog
        li
            a(href="#") Doing
        Li
            a(href="#") Done
    
