body{
    background-color: #bfe1bc;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.roboto-font{
  font-family: 'Roboto Condensed', sans-serif !important;
}

#test{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36pt;
    text-align: center; 
    
    display: inline-block;
}

  main {
    flex: 1 0 auto;
  }

  .google-btn{
    color: #fff;
    font-size: 18px;
    background: #ff5353;
    text-decoration: none;
    padding: 10px;
    display: block;
    height: 50px;
    width:100px;
  }

  .cardError {
    background-color: #FFCCCB;
    padding: 20px;
    border-radius: 0 0 2px 2px;
    color: white;
    text-align: center;
  }

  .cardSuccess {
    background-color: #ADD8E6;
    padding: 20px;
    border-radius: 0 0 2px 2px;
    color: #0000CC;
    text-align: center;

  }

  .card.error{
    background-color: #FFCCCB;
    padding: 20px;
    border-radius: 0 0 2px 2px;
    color: white;
    text-align: center;
  }